

<div class="container">

  <h1><%= @restaurant.name  %></h1>

  <ul class="list-unstyled">

  <li>Address : <%= @restaurant.address %></li>
  <li>Phone Number : <%= @restaurant.phone_number %></li>

  </ul>


  <h4>Reviews</h4>
    <ul class="list-unstyled">
    <% @restaurant.reviews.each do |review| %>
    <li>
    <p>Rating : <%= review.rating %></p>
    <p>Review : <%= review.content %></p>
    </li>
    <% end %>
  </ul>


  <p><%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-default" %></p>
  <p><%= link_to "Back", restaurants_path, class: "btn btn-default"%></p>

</div>
